* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-weight: 500;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px;

    align-items: center;
    justify-items: center;

    background-color: #E5E5E5;
}
header h1 {
    padding-right: 100px;
    letter-spacing: 0.4px;
}
header img {
    width: 100px;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding-top: 10px;
}
.main .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 100px;
}
.main .buttons-container .singin-login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 30px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 270px;
    min-height: 50px;

    border: 0;
    border-radius: 20px;

    font-size: 20px;

    background-color: #36ABFF;
    color: white; 
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.4s ease-out;
}


footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 50px);

    align-items: center;
    justify-items: center;

    background-color: #E5E5E5;

    letter-spacing: 0.4px;
}
